@use "../global" as global;

.p-footer-nav-inside {
    &.grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @include global.mq(sp) {
            display: none;
        }
    }
}

.p-footer-nav-inside__list {
    font-size: 16px;
    line-height: 1;
    font-weight: global.$medium;
    margin-top: 20px;
    padding-left: 12px;
    position: relative;
    transition: 0.3s ease;

    &:hover {
        opacity: 0.8;
    }

    &::before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 0 6px 6px;
        border-color: transparent transparent transparent #007bff;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}

.p-footer-nav__link {
}

.p-footer-nav-inside__sp {
    display: none;

    @include global.mq(sp) {
        display: flex;

        &>.p-footer-nav-inside {
            margin-right: 20px;
        }
    }
}