@use "../global" as global;

.p-medical {
    padding: 0 140px 82px 140px;
    background: global.$bg-color;
    margin-top: 15.8vw;
    position: relative;

    @include global.mq(tb) {
        padding: 0 24px 82px 24px;
    }

    @include global.mq(tb2) {
        
    }

    @include global.mq(sp) {
        padding: 32px 20px 70px 20px;
    }

    &::before {
        content: "";
        width: 57px;
        height: 57px;
        background: url(../img/deco-kirakira2-w.svg) no-repeat center/contain;
        position: absolute;
        bottom: 0;
        left: 40px;

        @include global.mq(sp) {
            width: 25px;
            height: 25px;
            bottom: 18px;
            left: 12px;
        }
    }

    &::after {
        content: "";
        width: 125px;
        height: 138px;
        background: url(../img/deco-kirakira-w.svg) no-repeat center/contain;
        position: absolute;
        bottom: -20px;
        right: 20px;

        @include global.mq(sp) {
            width: 54px;
            height: 59px;
            bottom: 0;
            right: 10px;
        }
    }
}

.p-medical__inner {
    @include global.mq(tb) {
        max-width: 1000px;
    }
}

.p-medical__deco__top {
    width: 100%;
    height: 15.8vw;
    background: url(../img/bg-top.svg) no-repeat center center / cover;
    position: absolute;
    top: -15.8vw;
    left: 0;
}

.p-medical__deco__bottom {
    width: 100%;
    height: 7.6vw;
    background: url(../img/bg-bottom.svg) no-repeat center center / cover;
    position: absolute;
    bottom: -7.6vw;
    left: 0;
}

.p-medical__title {
    display: inline-block;
    position: relative;
    @include global.section-title-deco(67px, 20px, -92px, -92px);

    @include global.mq(sp) {
        @include global.section-title-deco(56px, 13px, -72px, -72px);
    }
}

.p-medical__wrapper {
    display: flex;
    gap: 80px;
    margin-top: 60px;

    @include global.mq(tb2) {
        gap: 40px;
    }

    @include global.mq(sp) {
        display: block;
        margin-top: 40px;
    }
}

.p-medical__text {
    font-size: 14px;
    font-weight: global.$medium;
    line-height: 2;
    text-align: left;
    background: global.$text-color2;
    padding: 40px;
    margin-top: 60px;

    @include global.mq(sp) {
        padding: 20px;
        margin-top: 20px;
    }

    span {
        color: global.$accent-color;
    }
}