@use "../global" as global;

.p-medical-card {
    background: global.$text-color2;
    border-radius: 20px;
    padding: 55px 60px 60px 60px;
    margin-top: 40px;
    position: relative;

    @include global.mq(sp) {
        padding: 24px 20px 20px 20px;
    }
}

.p-medical-card__ribbon {
    width: 100px;
    height: 80px;
    background: transparent;
    display: block;
    position: absolute;
    top: 0;
    right: 60px;

    @include global.mq(sp) {
        right: 20px;
    }

    img {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.p-medical-card__head {
    display: flex; 
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #C2C2C2;

    @include global.mq(sp) {
        display: block;
        padding-bottom: 20px;
    }
}

.p-medical-card__title {
    margin-right: 40px;

    @include global.mq(sp) {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.p-medical-card__content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    @include global.mq(tb2) {
        display: block;
    }

    @include global.mq(sp) {
        display: block;
        margin-top: 20px;
    }
}

.p-medical-card__text {
    width: 50%;
    font-size: 14px;
    font-weight: global.$medium;
    margin-right: 40px;

    @include global.mq(tb2) {
        width: 100%;
    }

    @include global.mq(sp) {
        width: 100%;
    }
}

.p-medical-card__img {
    width: 50%;

    @include global.mq(tb2) {
        width: 100%;
        margin-top: 40px;
    }

    @include global.mq(sp) {
        width: 100%;
        margin-top: 20px;
    }
}