@use "../global" as global;

.c-button-white {
    width: 100%;
    max-width: 220px;
    font-size: 16px;
    color: global.$main-color;
    font-weight: global.$medium;
    background: global.$text-color2;
    padding: 16px 0;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid global.$main-color;
    transition: 0.3s ease;

    @include global.mq(sp) {
        font-size: 14px;
        padding: 10px 0;
    }
}
